 #rcbrandDemo1, #rcbrandDemo2, #rcbrandDemo3 {
    display:none;
    }
    
    .rc-rcbrand-container {
        position:relative;
        max-width:100%;
        margin-bottom: 20px;
    }
    .rc-rcbrand-ul {
        position:relative;
        width:99999px;
        margin:0px;
        padding:0px;
        list-style-type:none;   
        text-align:center;  
        overflow: auto;
    }
    
    .rc-rcbrand-inner {
        position: relative;
        overflow: hidden;
        float:left;
        width:100%;
        background: #ffffff;;
        margin-top:3rem ; 
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;  
    }
    
    .rc-rcbrand-item {
        float:left;
        margin:0px;
        padding:0px;
        cursor:pointer;
        position:relative;
        line-height:0px;
    }
    .rc-rcbrand-item img {
        max-width: 100%;
        cursor: pointer;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
  
    
   
   